In [249]:
import numpy as np
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
import tensorflow as tf

In [257]:
import sklearn
sklearn.__version__

'0.23.1'

In [254]:
tf.__version__

'2.3.1'

In [255]:
np.__version__

'1.18.3'

In [256]:
pd.__version__

'1.0.4'

# Data preprocessing

In [124]:
dataset = pd.read_csv('Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [125]:
X = dataset.iloc[:,3:-1]
y = dataset.iloc[:,-1]

#### encode gender labels

In [126]:
le = LabelEncoder()
X.iloc[:, 2] = le.fit_transform(X.iloc[:, 2])

In [127]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,0,42,2,0.00,1,1,1,101348.88
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58
2,502,France,0,42,8,159660.80,3,1,0,113931.57
3,699,France,0,39,1,0.00,2,0,0,93826.63
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10

#### encode country lables using OneHotEncoder class

In [128]:
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [129]:
X

array([[1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        1.0000000e+00, 1.0134888e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 1.1254258e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 1.1393157e+05],
       ...,
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 4.2085580e+04],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 9.2888520e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 3.8190780e+04]])

# Spliting the dataset into train and test

In [130]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Feature scaling

In [131]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# ANN

In [132]:
ann = tf.keras.models.Sequential()

In [133]:
# add the input layer and the first hidden layer
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [134]:
# add the second hidden layer
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [135]:
# add the output hidden layer
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

In [138]:
# compile ANN
ann.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [139]:
# train
ann.fit(X_train, y_train, batch_size=32, epochs=100)

Epoch 1/100
250/250 [==============================] - 0s 1ms/step - loss: 0.5233 - accuracy: 0.7886
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4649 - accuracy: 0.7983
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4369 - accuracy: 0.8039
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4223 - accuracy: 0.8160
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4133 - accuracy: 0.8199
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4071 - accuracy: 0.8219
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4016 - accuracy: 0.8238
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3970 - accuracy: 0.8255
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3920 - accuracy: 0.8267
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3878 - accuracy: 0.8281
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3833 - accuracy: 0.8294
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3791 - accuracy: 0.8299
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3761 - accuracy: 0.8322
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3736 - accuracy: 0.8434
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3704 - accuracy: 0.8430
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3681 - accuracy: 0.8472
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3654 - accuracy: 0.8476
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3636 - accuracy: 0.8476
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3616 - accuracy: 0.8511
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3602 - accuracy: 0.8503
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3586 - accuracy: 0.8519
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3570 - accuracy: 0.8546
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3556 - accuracy: 0.8541
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3544 - accuracy: 0.8545
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3538 - accuracy: 0.8549
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3526 - accuracy: 0.8546
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3524 - accuracy: 0.8551
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3514 - accuracy: 0.8558
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3505 - accuracy: 0.8577
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3498 - accuracy: 0.8572
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3489 - accuracy: 0.8570
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3486 - accuracy: 0.8560
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3486 - accuracy: 0.8560
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3473 - accuracy: 0.8583
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3475 - accuracy: 0.8575
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3466 - accuracy: 0.8591
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3464 - accuracy: 0.8602
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3466 - accuracy: 0.8593
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3457 - accuracy: 0.8595
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3450 - accuracy: 0.8590
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3449 - accuracy: 0.8601
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3447 - accuracy: 0.8593
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3439 - accuracy: 0.8606
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3442 - accuracy: 0.8589
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3434 - accuracy: 0.8587
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3437 - accuracy: 0.8595
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3433 - accuracy: 0.8586
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3429 - accuracy: 0.8595
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3426 - accuracy: 0.8618
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3424 - accuracy: 0.8609
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3420 - accuracy: 0.8609
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3420 - accuracy: 0.8584
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3421 - accuracy: 0.8597
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3416 - accuracy: 0.8583
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3417 - accuracy: 0.8615
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3416 - accuracy: 0.8597
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3418 - accuracy: 0.8587
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3415 - accuracy: 0.8609
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3412 - accuracy: 0.8596
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3408 - accuracy: 0.8614
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3406 - accuracy: 0.8625
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3408 - accuracy: 0.8595
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3405 - accuracy: 0.8609
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3403 - accuracy: 0.8629
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3400 - accuracy: 0.8604
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3403 - accuracy: 0.8626
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3404 - accuracy: 0.8595
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3397 - accuracy: 0.8611
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3395 - accuracy: 0.8593
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3394 - accuracy: 0.8595
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3394 - accuracy: 0.8621
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3388 - accuracy: 0.8610
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3393 - accuracy: 0.8599
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3395 - accuracy: 0.8604
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3386 - accuracy: 0.8601
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3384 - accuracy: 0.8627
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3386 - accuracy: 0.8593
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3385 - accuracy: 0.8612
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8604
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3380 - accuracy: 0.8614
Epoch 81/100

250/250 [==============================] - 0s 1ms/step - loss: 0.3382 - accuracy: 0.8620
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3381 - accuracy: 0.8621
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3378 - accuracy: 0.8606
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3378 - accuracy: 0.8609
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3374 - accuracy: 0.8608
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3383 - accuracy: 0.8600
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3373 - accuracy: 0.8599
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3378 - accuracy: 0.8620
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3370 - accuracy: 0.8634
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3372 - accuracy: 0.8615
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3377 - accuracy: 0.8597
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3368 - accuracy: 0.8630
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3368 - accuracy: 0.8616
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3380 - accuracy: 0.8604
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3369 - accuracy: 0.8611
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3373 - accuracy: 0.8622
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3363 - accuracy: 0.8615
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3374 - accuracy: 0.8612
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3372 - accuracy: 0.8604
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3368 - accuracy: 0.8612

In [146]:
# predict result for user with data:
#  Geography: France, Credit Score: 600, Gender: Male, Age: 40, Tenure: 3, Balance: 60000, Number of products: 2, Credit card: yes, Active member: yes, Estimated Salary: 50000

observation = sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000 ]])
ann.predict(observation)

array([[0.03854331]], dtype=float32)

# Predicting the test set results

In [248]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred), 1), y_test.values.reshape(len(y_test), 1)), 1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

# Making the confusion matrix

In [263]:
cm = confusion_matrix(y_pred, y_test)
print(cm)
accuracy_score(y_pred, y_test, )

[[1511  196]
 [  84  209]]

0.86